.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date {
  display: flex;
  align-items: center;
  gap: 6px;
  .dateInfo {
    display: flex;
    flex-direction: column;
    span {
      font-size: 12px;
      margin-top: -4px;
      &:nth-child(1) {
        font-size: 10px;
      }
    }
  }
}
.accountBtn {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #282828;
  span {
    width: 20px;
    height: 20px;
  }
}
